{% extends "base.html" %}

{% block stylesheetsandscripts %}
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

$(function() {
	
 	console.log("attaching to web co-processor!");
	// considered performance benchmarks:
	// http://stackoverflow.com/questions/7128057/measuring-and-benchmarking-processing-power-of-a-javascript-engine-in-a-browser
	
	var ws = new WebSocket("ws://localhost:8888/webcoprocessor/attach");

	ws.onopen = function() {
		// send performance numbers to server, so it knows what you are
		//ws.send('{"message_type":"init", "data": "web core saying hello"}')
	};

	ws.onmessage = function (evt) {
		console.log (evt.data);
		json = $.parseJSON(evt.data);
		if( json.message_type === 'query' ) {
			// in theory do something useful, for now just send some stuff, like the number 42
			response = '{"message_type":"result", "data": {"fragment": "xyz123", "dummy_result": "dummy result"}}';
			ws.send( response );
		}
		else {
			console.log("error")
		}
		
		$("div#incoming").append('<div style="margin-bottom: 5px; background-color: black; color: white">' + evt.data + '</div>');
	};

})

</script>
{% end %}

{% block title %}
	<title>Demo</title>
{% end %}

{% block header %}
	<h1>Web co-processor</h1>
{% end %}

{% block content %}
	<p>Incoming messages:</p>
	<div id="incoming" />
{% end %}

{% block more %}
	<p>github.com/skipperkongen/phd_webcoprocessor</p>
{% end %}