{% extends "base.html" %}

{% block stylesheetsandscripts %}
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

$(function() {
	
 	console.log("attaching to web co-processor!");
	// considered performance benchmarks:
	// http://stackoverflow.com/questions/7128057/measuring-and-benchmarking-processing-power-of-a-javascript-engine-in-a-browser
	
	var ws = new WebSocket("ws://localhost:8888/webcoprocessor/attach");

	ws.onopen = function() {
		// send performance numbers to server, so it knows what you are
		//ws.send('{"message_type":"init", "data": "web core saying hello"}')
	};

	ws.onmessage = function (evt) {

		json = $.parseJSON(evt.data);
		console.log ("[Core] Recieving: " + JSON.stringify(json));
		$("div#incoming_subtasks").append('<div style="margin-bottom: 5px; background-color: black; color: white">eval(' + json.javascript + ')</div>');
		// in theory do something useful, for now just send some stuff, like the number 42
		response = JSON.stringify({'query_id':json.query_id, 'subtask_id':json.subtask_id, 'result':eval(json.javascript)});
		console.log("[Core] Sending: " + response);
		ws.send( response );
		

	};
	
	console.log("attaching to query engine!");
	var ws2 = new WebSocket("ws://localhost:8888/queryengine/attach");
	
	ws2.onmessage = function (evt) {
		json = $.parseJSON(evt.data)
		console.log ("[Client] Receiving: " + JSON.stringify(json));
		$("div#incoming_results").append('<div style="margin-bottom: 5px; background-color: black; color: white">' + evt.data + '</div>');
	};
	
	$("input#query").focus();
	$("button#run_query").click(function() {
		query = $("input#query").val();
		console.log('[Client] Sending: ' + query);
		ws2.send(query);
	});

})

</script>
{% end %}

{% block title %}
	<title>Demo</title>
{% end %}

{% block header %}
	<h1>Web co-processor</h1>
{% end %}

{% block content %}
	<h2>Enter query:</h2>
	<input id="query"></input><br/>
	<button id="run_query">Run query</button>

	<h3>Query results</h3>
	<div id="incoming_results" />
{% end %}

{% block more %}
	<h4>Incoming messages:</h4>
	<div id="incoming_subtasks" />
{% end %}